browser-table{

  display: inline-block;
  background-color: white;

  table{
    background-color: white;
  }
  th{
    background-color: white;
  };

  .list-unstyled {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }


}